<main class="profile-page bg-white">
  <section class="relative py-16 z-10">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg"
      >
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img
                  alt="..."
                  src="assets/img/team-2-800x800.jpg"
                  class="shadow-xl rounded-full h-auto align-middle mt-12 border-none max-w-150-px"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3">
              <div class="py-6 px-3 sm:mt-0 text-center sm:text-end"></div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="flex justify-center py-4 lg:pt-4 pt-8">
                <div class="mr-4 p-3 text-center">
                  <span
                    class="text-xl font-bold block uppercase tracking-wide text-gray-600"
                  >
                  </span>
                  <span class="text-sm text-gray-400"></span>
                </div>
                <div class="mr-4 p-3 text-center">
                  <span
                    class="text-xl font-bold block uppercase tracking-wide text-gray-600"
                  >
                  </span>
                  <span class="text-sm text-gray-400"></span>
                </div>
                <div class="lg:mr-4 p-3 text-center">
                  <span
                    class="text-xl font-bold block uppercase tracking-wide text-gray-600"
                  >
                  </span>
                  <span class="text-sm text-gray-400"></span>
                </div>
              </div>
            </div>
          </div>
          @if(coach){
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-gray-700 mb-2"
            >
              {{
                coach.firstName +
                  " " +
                  (coach.middleName ? coach.middleName : "") +
                  " " +
                  coach.lastName
              }}
            </h3>

            <div
              class="text-sm leading-normal mt-0 mb-2 text-gray-400 font-bold uppercase"
            >
              <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-400"></i>
              {{ coach.closestWorkAddress }}
            </div>
            <div class="mb-2 text-gray-600 mt-10">
              <i class="fas fa-briefcase mr-2 text-lg text-gray-400"></i>
              {{ coach.emailAddress }}
            </div>
            <div class="mb-2 text-gray-600">
              <i class="fas fa-university mr-2 text-lg text-gray-400"></i>
              {{ coach.phoneNumber }}
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-gray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-gray-700">
                  {{ coach.aboutMe }}
                </p>
                <a href="javascript:void(0)" class="font-bold text-emerald-600">
                  Show more
                </a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="relative pt-8 py-16 z-10" [class.hidden]="isCalendarEmpty"> -->
  <section class="relative pt-8 py-16 z-10">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <div class="p-4 sm:p-8 sm:-mr-8">
          <mat-card
            class="bg-gradient bg-gradient-to-r from-amber-400 to-amber-600 rounded-none"
          >
            <mat-calendar
              class="text-xl font-bold"
              [dateFilter]="dateFilter"
              [(selected)]="selected"
              (selectedChange)="getSelectedDateHours()"
            ></mat-calendar>
          </mat-card>
        </div>
        <div class="p-8 sm:p-12 bg-gray-100">
          <div class="pb-3">
            <h2 class="text-xl font-semibold text-gray-600">
              Confirm meeting for
            </h2>
            <p class="text-gray-400">{{ selected | date : "fullDate" }}</p>

            <div
              class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2 pt-2 w-full"
            >
              @for (appointmentHours of appointmentHoursList; track
              appointmentHours.id) {
              <button
                [class.bg-rose-700]="appointmentHours.id == selectedIndex"
                class="text-white text-center p-3 w-full font-bold rounded focus:bg-rose-700 bg-amber-500 hover:bg-amber-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
                (click)="
                  selectAppointment(appointmentHours, appointmentHours.id)
                "
              >
                {{ appointmentHours.date | date : "shortTime" }}
              </button>
              }
            </div>
          </div>

          <form class="pt-12" [class.hidden]="!userHasToken">
            <h2 class="text-xl font-semibold text-gray-600">
              Your booking data
            </h2>
            <mat-form-field class="w-full m-1" hintLabel="Max 10 characters">
              <mat-label>First name</mat-label>
              <input
                matInput
                #inputfirstname
                maxlength="10"
                placeholder="Ex. Jhon"
                [formControl]="firstName"
                [readonly]="fromReadOnly"
                required
              />
              <mat-hint align="end"
                >{{ inputfirstname.value.length }}/20</mat-hint
              >
            </mat-form-field>

            <mat-form-field class="w-full m-1" hintLabel="Max 10 characters">
              <mat-label>Last name</mat-label>
              <input
                matInput
                #inputlastname
                maxlength="10"
                placeholder="Ex. Doe"
                [formControl]="lastName"
                [readonly]="fromReadOnly"
                required
              />
              <mat-hint align="end"
                >{{ inputlastname.value.length }}/20</mat-hint
              >
            </mat-form-field>

            <mat-form-field class="w-full m-1">
              <mat-label>Your Email Address</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                [formControl]="email"
                [readonly]="fromReadOnly"
                (blur)="updateErrorMessage()"
                required
              />
              @if (email.invalid) {
              <mat-error>{{ errorMessage }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full m-1" hintLabel="Max 500 characters">
              <mat-label>Comment</mat-label>
              <textarea
                matInput
                #inputcomment
                type="text"
                maxlength="500"
                placeholder="Ex. It makes me feel..."
                [formControl]="comment"
              ></textarea>
              <mat-hint align="end"
                >{{ inputcomment.value.length }}/500</mat-hint
              >
            </mat-form-field>

            <div class="mt-4 mx-1 text-center">
              <button
                (click)="startBooking()"
                class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-amber-500 hover:bg-amber-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
              >
                Book Appointment
              </button>
            </div>
          </form>

          <div class="p-8 sm:p-12 bg-gray-100" [class.hidden]="userHasToken">
            <h2 class="text-xl text-center font-semibold text-gray-600 py-12">
              To book appointments please sign in.
            </h2>
            <button
              [routerLink]="['/login']"
              class="get-started text-white w-full font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-amber-500 hover:bg-amber-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="relative pt-8 py-16 z-10" [class.hidden]="!isCalendarEmpty">
    <div class="container mx-auto px-4">
      <h3
        class="text-4xl text-center font-semibold leading-normal mb-2 text-gray-700 mb-2"
      >
        Sorry No available appointments here, check other practitioners! :(
      </h3>
    </div>
  </section> -->
</main>
