<app-index-navbar></app-index-navbar>

<main>
  <section class="header relative pt-16 items-center flex h-screen max-h-860-px">
    <div class="container mx-auto items-center flex flex-wrap">
      <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
        <div class="sm:pt-0">
          <h2 class="font-semibold text-4xl text-gray-600">
            Davana Healing - Inner Harmony and Wellness.
          </h2>
          <p class="mt-4 text-lg leading-relaxed text-gray-500">
            At Davana Healing, we believe that true well-being encompasses mind, body, and spirit. Our holistic approach
            combines ancient wisdom with modern practices to guide you on your healing journey.
          </p>
          <div class="mt-12">
            <a href="#" target="_blank"
              class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blue-500 hover:bg-blue-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              Book Appointment
            </a>
            <a href="#" target="_blank"
              class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-slate-700 hover:bg-slate-900 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              Contact
            </a>
          </div>
        </div>
      </div>
    </div>

    <img class="hidden sm:block absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
      src="assets/img/davidannamari.png" alt="..." />
  </section>

  <section class="pb-28 sm:pb-48 pt-16 px-4 relative bg-white ">
    <div class="-mt-28 top-0 bottom-auto left-0 right-0 w-full absolute h-28 " style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blue-500 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-gray-600">Our Compassionate Practitioners</h2>
          <p class="text-lg leading-relaxed mt-4 text-gray-500">
            Join us at Davana Healing and embark on a path of self-discovery, balance, and renewal. Your well-being is
            our priority.
          </p>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="relative">
              <img alt="..." src="assets/img/team-1-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-blue-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">17
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Ryan Tompson</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Energy Healing
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-twitter"></i>
                </button>
                <button class="bg-blue-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button class="bg-blue-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-dribbble"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6 ">
            <div class="relative">
              <img alt="..." src="assets/img/team-2-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-blue-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">10
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Romina Hadid</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Herbal Remedies
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-google"></i>
                </button>
                <button class="bg-blue-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="relative">
              <img alt="..." src="assets/img/team-3-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-blue-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">8
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Alexa Smith</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Yoga and Movement
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-google"></i>
                </button>
                <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-twitter"></i>
                </button>
                <button class="bg-gray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="relative">
              <img alt="..." src="assets/img/team-4-470x470.png" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-blue-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">11
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Jenna Kardi</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Founder and CEO
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-blue-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-dribbble"></i>
                </button>
                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-google"></i>
                </button>
                <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-twitter"></i>
                </button>
                <button class="bg-gray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="text-center w-full mt-4 sm:mt-16">
      <a href="#" target="_blank"
        class="font-bold text-xl text-gray-700 hover:text-gray-500 ease-linear transition-all duration-150">
        View All
        <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
      </a>
    </div>
  </section>

  <section class=" relative block bg-gray-100 ">
    <div
      class="hidden sm:flex bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

    <div class="pb-56 pt-8 sm:pt-16 container mx-auto px-4 lg:pt-24 sm:pb-48 ">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-gray-600">Nurturing Balance, Igniting Wellness</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
            Our sanctuary is a haven where mind, body, and spirit converge, allowing you to explore the depths of
            self-discovery and healing.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-emerald-500 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-medal text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-emerald-500">
            Energy Healing
          </h5>
          <p class="mt-2 mb-4 text-gray-500">
            Experience the transformative power of Reiki, crystal healing, and sound therapy.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-blue-500 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-poll text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-blue-500">
            Herbal Remedies
          </h5>
          <p class="mt-2 mb-4 text-gray-500">
            Explore natural remedies and personalized herbal blends for optimal health.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-amber-500 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-lightbulb text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-amber-500">Yoga and Movement</h5>
          <p class="mt-2 mb-4 text-gray-500">
            Nourish your body through gentle yoga, qigong, and dance.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="px-4 lg:pt-24 lg:pb-48 block relative z-1 bg-gray-100">
    <div class="container mx-auto">
      <div class="justify-center flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4 -mt-24">
          <div class="w-full lg:w-6/12 px-4 mx-auto text-center mb-12 ">
            <h2 class="text-4xl font-semibold text-gray-600 ">Embark on a Journey of Healing</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              Join us as we discover new horizons and nurture our mind, body, and spirit. 🌿✨
            </p>
          </div>
          <div class="flex flex-wrap mt-4 mb-4">
            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center text-emerald-700">Spiritual Healing</h5>
              <a [routerLink]="['/auth/login']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/davana1.jpg" />
                </div>
              </a>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center text-emerald-700">Your Inner Child</h5>
              <a [routerLink]="['/profile']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/davana2.jpg" />
                </div>
              </a>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center text-emerald-700">Unhealed Hurt</h5>
              <a [routerLink]="['/landing']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/davana3.jpg" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative pt-20 pb-48">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img alt="..." class="max-w-full rounded-lg shadow-lg"
            src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="hidden sm:flex text-blue-200 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-blue-500">
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold pt-4 sm:pt-0 text-gray-600">A growing community</h3>
            <p class="mt-4 text-lg leading-relaxed text-gray-500">
              Join our Healing Horizons community—a place where growth is celebrated, and acceptance knows no bounds.
              Together, we explore healing, share stories, and uplift one another. 🌿✨🌟
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-amber-200 bg-amber-500 mr-3">
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-500">
                      Growing self awarness
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-200 bg-blue-500 mr-3">
                      <i class="fab fa-html5"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-500">Open minded community</h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-emerald-200 bg-emerald-500 mr-3">
                      <i class="far fa-paper-plane"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-500">Soul healing</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-16 bg-white relative pt-32">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-emerald-500 fill-current" points="2860 0 2660 100 0 0"></polygon>
      </svg>
    </div>

    <div class="container mx-auto">
      <div class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10">
        <div class="w-full text-center lg:w-8/12">
          <h3 class="font-semibold text-3xl text-gray-600">Subscribe to get notified</h3>
          <p class="text-gray-500 text-lg leading-relaxed mt-4 mb-4">
            Stay in the loop with our Healing Horizons series. Receive timely updates, insightful articles, and
            exclusive content directly to your inbox. 🌿✨📩
          </p>
          <div class="sm:block flex flex-col mt-10">
            <a href="#" target="_blank"
              class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-2 bg-blue-500 hover:bg-blue-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              Subscribe
            </a>
            <a href="#" target="_blank"
              class="github-star sm:ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-gray-700 hover:bg-gray-800 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              <i class="fab fa-github text-lg mr-1"></i>
              <span>Help With a Star</span>
            </a>
          </div>
          <div class="text-center mt-16"></div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>