<div #staticNavbar>
  <app-auth-navbar  ></app-auth-navbar>
</div>
<app-index-navbar [class.hidden]="isVisible"></app-index-navbar>

<main>
  <section class="header relative pt-16 items-center flex h-screen max-h-860-px">
    <div class="container mx-auto items-center flex flex-wrap">
      <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
        <div class="sm:pt-0">
          <h2 class="font-semibold text-4xl text-gray-600">
            Davana Healing - Inner Harmony and Wellness.
          </h2>
          <p class="mt-4 text-lg leading-relaxed text-gray-500">
            At Davana Healing, we believe that true well-being encompasses mind, body, and spirit. Our holistic approach
            combines ancient wisdom with modern practices to guide you on your healing journey.
          </p>
          <div class="mt-12">
            <a href="#" target="_blank"
              class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-amber-500 hover:bg-amber-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              Book Appointment
            </a>
            <a href="#" target="_blank"
              class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-slate-700 hover:bg-slate-900 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              Contact
            </a>
          </div>
        </div>
      </div>
    </div>

    <img class="hidden sm:block absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
      src="assets/img/davidannamari.png" alt="..." />
  </section>

  <section>
    <div class="custom-shape-divider-bottom-1716211093">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25" class="shape-fill"></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5" class="shape-fill"></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"></path>
      </svg>
    </div>
  </section>

  <section class="pb-28 sm:pb-48 pt-16 px-4 relative bg-white ">
    <div class="custom-shape-divider-top-1716211553">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25" class="shape-fill"></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5" class="shape-fill"></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"></path>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-gray-600">Our Compassionate Practitioners</h2>
          <p class="text-lg leading-relaxed mt-4 text-gray-500">
            Join us at Davana Healing and embark on a path of self-discovery, balance, and renewal. Your well-being is
            our priority.
          </p>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="relative">
              <img alt="..." src="assets/img/team-1-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-amber-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">17
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Ryan Tompson</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Energy Healing
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-amber-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-twitter"></i>
                </button>
                <button class="bg-amber-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button class="bg-amber-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-dribbble"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6 ">
            <div class="relative">
              <img alt="..." src="assets/img/team-2-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-amber-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">10
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Romina Hadid</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Herbal Remedies
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-google"></i>
                </button>
                <button class="bg-amber-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="relative">
              <img alt="..." src="assets/img/team-3-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-amber-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">8
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Alexa Smith</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Yoga and Movement
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-google"></i>
                </button>
                <button class="bg-amber-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-twitter"></i>
                </button>
                <button class="bg-gray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="relative">
              <img alt="..." src="assets/img/team-4-470x470.png" class="shadow-lg rounded-full mx-auto max-w-120-px" />
              <span
                class="absolute top-0 right-0 items-center rounded-full bg-amber-500 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset ring-gray-500/10">11
                Free Slots</span>
            </div>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Jenna Kardi</h5>
              <p class="mt-1 text-sm text-gray-400 uppercase font-semibold">
                Founder and CEO
              </p>
              <div class="mt-6 pb-4">
                <button class="bg-amber-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-dribbble"></i>
                </button>
                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-google"></i>
                </button>
                <button class="bg-amber-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-twitter"></i>
                </button>
                <button class="bg-gray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
              <button
                class="get-started text-white font-bold px-4 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-emerald-700 hover:bg-emerald-800 uppercase text-xs shadow hover:shadow-lg ease-linear transition-all duration-150">Book
                Appointment</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="text-center w-full mt-4 sm:mt-16">
      <a href="#" target="_blank"
        class="font-bold text-xl text-gray-700 hover:text-gray-500 ease-linear transition-all duration-150">
        View All
        <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
      </a>
    </div>

    <div class="custom-shape-divider-bottom-1716211438">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>

  </section>

  <section class=" relative block bg-gray-100 ">
    <div class="z-0 custom-shape-divider-top-1716211387">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>

    <div class="pb-56 pt-12 sm:pt-16 container mx-auto px-4 lg:pt-24 sm:pb-48 ">
      <div class="flex flex-wrap text-center justify-center">
        <div class="z-10 lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-gray-600">Nurturing Balance, Igniting Wellness</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
            Our sanctuary is a haven where mind, body, and spirit converge, allowing you to explore the depths of
            self-discovery and healing.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-emerald-500 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-medal text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-emerald-500">
            Energy Healing
          </h5>
          <p class="mt-2 mb-4 text-gray-500">
            Experience the transformative power of Reiki, crystal healing, and sound therapy.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-blue-500 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-poll text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-blue-500">
            Herbal Remedies
          </h5>
          <p class="mt-2 mb-4 text-gray-500">
            Explore natural remedies and personalized herbal blends for optimal health.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-amber-500 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-lightbulb text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-amber-500">Yoga and Movement</h5>
          <p class="mt-2 mb-4 text-gray-500">
            Nourish your body through gentle yoga, qigong, and dance.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="px-4 lg:pt-24 lg:pb-48 block relative z-1 bg-gray-100">
    <div class="container mx-auto">
      <div class="justify-center flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4 -mt-24">
          <div class="w-full lg:w-6/12 px-4 mx-auto text-center mb-12 ">
            <h2 class="text-4xl font-semibold text-gray-600 ">Embark on a Journey of Healing</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              Join us as we discover new horizons and nurture our mind, body, and spirit. 🌿✨
            </p>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-3 mt-4 mb-4 gap-2">

            <mat-card class="w-full px-4 bg-white hover:-translate-y-6 duration-150">
              <mat-card-header>
                <mat-card-title class="text-emerald-700 font-bold">Spiritual Healing</mat-card-title>
                <mat-card-subtitle class="text-gray-500">By Adrienn</mat-card-subtitle>
              </mat-card-header>
              <img class="rounded-md p-1" mat-card-image src="assets/img/davana1.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p class="text-gray-500 line-clamp-3">
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button class="text-emerald-700 font-bold" mat-button>LIKE</button>
                <button class="text-emerald-700 font-bold" mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="w-full px-4 bg-white hover:-translate-y-6 duration-150">
              <mat-card-header>
                <mat-card-title class="text-emerald-700 font-bold">Unhealed Hurt</mat-card-title>
                <mat-card-subtitle class="text-gray-500">By Adrienn</mat-card-subtitle>
              </mat-card-header>
              <img class="rounded-md p-1" mat-card-image src="assets/img/davana2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p class="text-gray-500 line-clamp-3">
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button class="text-emerald-700 font-bold" mat-button>LIKE</button>
                <button class="text-emerald-700 font-bold" mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="z-10 w-full px-4 bg-white hover:-translate-y-6 duration-150">
              <mat-card-header>
                <mat-card-title class="text-emerald-700 font-bold">Inner Child</mat-card-title>
                <mat-card-subtitle class="text-gray-500">By Adrienn</mat-card-subtitle>
              </mat-card-header>
              <img class="rounded-md p-1" mat-card-image src="assets/img/davana3.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p class="text-gray-500 line-clamp-3">
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button class="text-emerald-700 font-bold" mat-button>LIKE</button>
                <button class="text-emerald-700 font-bold" mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="z-0 custom-shape-divider-bottom-1716211638">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"></path>
      </svg>
    </div>
  </section>

  <section class="relative pt-20 pb-48">
    <div class="custom-shape-divider-top-1716211695">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img alt="..." class="max-w-full rounded-lg shadow-lg"
            src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="hidden sm:flex text-amber-200 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-amber-500">
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold pt-4 sm:pt-0 text-gray-600">A growing community</h3>
            <p class="mt-4 text-lg leading-relaxed text-gray-500">
              Join our Healing Horizons community—a place where growth is celebrated, and acceptance knows no bounds.
              Together, we explore healing, share stories, and uplift one another. 🌿✨🌟
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-amber-200 bg-amber-500 mr-3">
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-500">
                      Growing self awarness
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-200 bg-blue-500 mr-3">
                      <i class="fab fa-html5"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-500">Open minded community</h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-emerald-200 bg-emerald-500 mr-3">
                      <i class="far fa-paper-plane"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-500">Soul healing</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
        <div class="custom-shape-divider-bottom-1716211746">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
      </svg>
  </div>
  </section>

  <section class="pb-16 bg-white relative pt-32">

    <div class="custom-shape-divider-top-1716211787">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25" class="shape-fill"></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5" class="shape-fill"></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"></path>
      </svg>
    </div>

    <div class="container mx-auto">
      <div class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10">
        <div class="w-full text-center lg:w-8/12">
          <h3 class="font-semibold text-3xl text-gray-600">Subscribe to get notified</h3>
          <p class="text-gray-500 text-lg leading-relaxed mt-4 mb-4">
            Stay in the loop with our Healing Horizons series. Receive timely updates, insightful articles, and
            exclusive content directly to your inbox. 🌿✨📩
          </p>
          <div class="sm:block flex flex-col mt-10">
            <a href="#" target="_blank"
              class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-2 bg-amber-500 hover:bg-amber-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              Subscribe
            </a>
            <a href="#" target="_blank"
              class="github-star sm:ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-gray-700 hover:bg-gray-800 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
              <i class="fab fa-github text-lg mr-1"></i>
              <span>Help With a Star</span>
            </a>
          </div>
          <div class="text-center mt-16"></div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>