<main class="profile-page bg-white lg:py-28 py-16">
  <section class="relative py-16 z-10">
    <div class="container mx-auto w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-gray-200 w-full mb-6 shadow-xl rounded-lg"
      >
        <div class="flex-auto px-4 lg:px-10 lg:py-2 my-2">
          <div class="text-gray-400 text-center font-bold my-4">
            <span>Sign up with email address</span>
          </div>
          <form>
            <mat-form-field class="w-full mt-2">
              <mat-label>First name</mat-label>
              <input
                matInput
                #inputfirstname
                (change)="inputChanged($event)"
                maxlength="20"
                placeholder="Ex. Jhon"
                [formControl]="firstName"
                required
              />
              <mat-hint align="end"
                ><em
                  >Maximum: {{ inputfirstname.value.length }}/20</em
                ></mat-hint
              >
            </mat-form-field>

            <mat-form-field class="w-full mt-2">
              <mat-label>Last name</mat-label>
              <input
                matInput
                #inputlastname
                (change)="inputChanged($event)"
                maxlength="20"
                placeholder="Ex. Doe"
                [formControl]="lastName"
                required
              />
              <mat-hint align="end"
                ><em>Maximum: {{ inputlastname.value.length }}/20</em></mat-hint
              >
            </mat-form-field>

            <mat-form-field class="w-full mt-2">
              <mat-label>Your email address</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                (change)="inputChanged($event)"
                [formControl]="email"
                (blur)="updateErrorMessage()"
                required
              />
              @if (email.invalid) {
              <mat-error>{{ errorMessageEmail }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full mt-2">
              <mat-label>Phone number</mat-label>
              <input
                matInput
                #inputPhoneNumber
                maxlength="20"
                placeholder="Ex. +36112345678"
                [formControl]="phoneNumber"
              />
              <mat-hint align="end"><em>Phone number is optional</em></mat-hint>
            </mat-form-field>

            <mat-form-field class="w-full mt-2">
              <mat-label>Password</mat-label>
              <input
                matInput
                #inputpassword
                (change)="passwordChanged($event)"
                type="password"
                [formControl]="password"
                required
              />
              <mat-hint align="end"
                ><em>Password should be minimum 8 characters</em></mat-hint
              >
            </mat-form-field>

            <mat-form-field class="w-full mt-2">
              <mat-label>Password again</mat-label>
              <input
                matInput
                #inputpasswordagain
                (change)="passwordChanged($event)"
                type="password"
                [formControl]="passwordAgain"
                required
              />
              @if (!passwordsMatch) {
              <mat-error>{{ errorMessagePassword }}</mat-error>
              }
            </mat-form-field>

            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-gray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-semibold text-gray-600">
                  I agree with the
                  <a href="javascript:void(0)" class="text-red-600">
                    Privacy Policy
                  </a>
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button
                [disabled]="isSubmitDisabled() ? true : false"
                (click)="register()"
                class="disabled:opacity-65 bg-gray-800 text-white enabled:active:bg-gray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow enabled:hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full enabled:ease-linear enabled:transition-all enabled:duration-150"
                type="button"
              >
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
